*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(239, 245, 245);
}

#btn-start{
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 8px 24px;
    background: rgb(37, 99, 235);
    opacity: 1;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
}

#btn-reset{
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 8px 24px;
    background: #2563eb;
    opacity: 1;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
}

#btn-start:hover{
    /* background-color:green;
    transition-duration: 400ms; */
    background: #1d4ed8;
    transition-duration: .15s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

#btn-reset:hover{
    background-color:#dc2626;
    transition-duration: .15s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

/* GRID */

td{
    width: 55px;
    height: 55px;
    border: 5px solid black;
}

table{
    margin-top: 30px;
    height: 450px;
    width: 450px;
    border-collapse: collapse;
}



/* OVERLAY */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* display: none; */
    top: 0;
    left: 0;
  }
  
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border-radius: 24px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    position: relative;
    display: flex;
    align-items: center;
}

.item{
    text-align: center;
    height: auto;
    margin-top: 20px;
}

.item.icon {
    color : #dc2626;
    position: relative;
}

.item.text{
    max-width: 320px;
}

.item.input{
    width: 300px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.item.input select{
    border: none;
    font-size: 14px;
    width: 100%;
    outline: none;

}

#circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #dc2626;
    opacity: 0.3;
}

#closeButton {
    display: inline-block;
    padding: 8px 0;
    background-color: #2563eb;
    opacity: 1;
    min-width: 300px;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#closeButton:hover{
    background-color: #1d4ed8;  
}   


/*
.btn-game{
    width: 100%;
    height: 100%;
    background-color: rgb(239, 245, 245);
    border-width : 0;
    border-left-width : 0;
    display: flex;
}
*/

input[name="test"]{
    width: 100%;
    height: 100%;
    background-color: rgb(239, 245, 245);
    border-width : 0;
    border-left-width : 0;
    display: flex;
}