/* #id{
   .class{
*/


body{
    display: flex;
    width: 916px;
}

.box #b1{
    background-color: lightblue;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5cm;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100px;
    width: 210px;
    border-color: grey;
}
#b1:hover{
    color: white;
    background-color: lightgray;
    width: 220px;
    transition:width 1s, height 1s, background-color 1s, transform 1s;
}


.box{
    width: 500px;
    align-items: center;
    flex-direction: row;
    display: flex;
}


#boutton{
    width: auto;

}

#rectangle #c1{
    width: 800px;
}